<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>SECCON 13 Beginners Workshop</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <style>
      .custom-header {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .source {
        font-family: "Source Code Pro", monospace;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      }
      .textarea {
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div class="box custom-header">
      <div class="columns">
        <div class="column is-flex-grow-1 is-size-4 has-text-weight-bold">
          <a href="/" class="has-text-black">SECCON 13 Beginners Workshop</a>
        </div>
      </div>
    </div>
    <div class="container">
      <section class="px-3 py-3">
        <h1 class="is-size-3 has-text-weight-bold">講義課題</h1>
        <a href="/lecture/1"
          ><p class="is-size-5 has-text-weight-semibold mt-2">1. レジスタ</p></a
        >
        <a href="/lecture/2"
          ><p class="is-size-5 has-text-weight-semibold mt-2">
            2. 複数の命令
          </p></a
        >
        <a href="/lecture/3"
          ><p class="is-size-5 has-text-weight-semibold mt-2">3. 演算</p></a
        >
        <a href="/lecture/4"
          ><p class="is-size-5 has-text-weight-semibold mt-2">4. 比較</p></a
        >
        <a href="/lecture/5"
          ><p class="is-size-5 has-text-weight-semibold mt-2">
            5. スタックのPush操作
          </p></a
        >
        <a href="/lecture/6"
          ><p class="is-size-5 has-text-weight-semibold mt-2">
            6. スタックのPop操作
          </p></a
        >
        <a href="/lecture/7"
          ><p class="is-size-5 has-text-weight-semibold mt-2">
            7. システムコールの基礎
          </p></a
        >
        <a href="/lecture/8"
          ><p class="is-size-5 has-text-weight-semibold mt-2">
            8. システムコールの発展
          </p></a
        >
      </section>
      <section class="px-3 py-3">
        <h1 class="is-size-3 has-text-weight-bold">演習課題</h1>
        <p class="is-size-6 has-text-weight-semibold mt-2">
          (講義終了後に演習を同時に開始します。それまでお待ちください)
        </p>
        <a href="/ctf/1"
          ><p class="is-size-5 has-text-weight-semibold mt-2">
            1. 決められたレジスタの値を設定しよう
          </p></a
        >
        <a href="/ctf/2"
          ><p class="is-size-5 has-text-weight-semibold mt-2">
            2. ファイルに決められた文字列を書き込んでみよう
          </p></a
        >
      </section>
    </div>
  </body>
</html>
